#game {
  width: 200px;
  height: 200px;
  background: red;
}
.block {
  width: 50px;
  height: 50px;
  float:left;
  border:1px solid white;
  box-sizing: border-box;
  /* границы внутри объекта */
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}
